@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.header{
    padding: 0 7%;
    display: flex;
    justify-content: space-between;
    background-image: url(6.jpg);
    background-position: center;
}
._1{
    width: 32%;
}
._2{
    width: 32%;
}
._3{
    width: 32%;
}
section{
    padding: 0 5%;
}
.container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    gap: 10px;
}
.title{
    font-size: 20px;
}
.bo{
    padding-bottom: 20px;
}

p{
    padding-top: 10px;
    font-size: 15px;
}

@media (max-width:1000px) {
    .title{
        font-size: 12px;
    }
}
@media (max-width:800px) {
    p{
        font-size: 10px;
    }
    section{
        padding: 0 2%;
    }
}